
.plot-table-td {
	border: 4px solid white;
}

.permaurl {
	font-size:10px;
}

.out-of-spec {
	color: red;
}

.different {
	background: #FFDDDD;
}

.chart-cell {
	text-align: left !important;
}

.input-field {
	width: 850px;
}

.clear {
	clear:both;
}

.red-text {
	color: red;
}

.pagination-group {
	float: right;
}

#table-panel-body {
    height: calc(100vh - 220px);
    overflow: scroll;
}
