
.plot-table-td {
	border: 4px solid white;
}

.out-of-spec {
	color: red;
}

.different {
	background: #FFDDDD;
}

.chart-cell {
	text-align: left !important;
}

.input-field {
	width: 850px;
}

.clear {
	clear:both;
}

.red-text {
	color: red;
}

.pagination-group {
	float: right;
}

#table1 {
    padding: 0;
    height: calc(100vh - 250px);  /* emperically found px value to fit in viewport */
    overflow: scroll;
}

/* force scroll bar to show on table */
/* copied from http://simurai.com/blog/2011/07/26/webkit-scrollbar */
#table1 ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
#table1 ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}
