
.plot-table-td {
	border: 4px solid white;
}

.out-of-spec {
	color: red;
}

.different {
	background: #FFDDDD;
	height: 10px;
	overflow: hidden;
	overflow-y: hidden;
}

.chart-cell {
	text-align: left !important;
	height: 10px;
}

.input-field {
	width: 850px;
}

.clear {
	clear:both;
}

.pagination-group {
	float: right;
}

.table-container {
    padding: 0;
    height: calc(100vh - 260px);  /* emperically found px value to fit in viewport */
    overflow: scroll;
    width: 100%;
}
.flex-table {
    padding: 0;
    width: max-content;
    overflow: hidden;
}

/* force scroll bar to show on table */
/* copied from http://simurai.com/blog/2011/07/26/webkit-scrollbar */
.flex-table ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.flex-table ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}
