[submodule "src/github.com/codegangsta/inject"]
	path = src/github.com/codegangsta/inject
	url = https://github.com/codegangsta/inject
[submodule "src/github.com/go-martini/martini"]
	path = src/github.com/go-martini/martini
	url = https://github.com/go-martini/martini
[submodule "src/github.com/martini-contrib/binding"]
	path = src/github.com/martini-contrib/binding
	url = https://github.com/martini-contrib/binding
[submodule "src/github.com/martini-contrib/gzip"]
	path = src/github.com/martini-contrib/gzip
	url = https://github.com/martini-contrib/gzip.git
[submodule "src/github.com/mattn/go-sqlite3"]
	path = src/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3.git
[submodule "src/github.com/10XDev/zego"]
	path = src/github.com/10XDev/zego
	url = git@github.com:10XDev/zego.git
[submodule "src/github.com/aws/aws-sdk-go"]
	path = src/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
[submodule "src/github.com/vaughan0/go-ini"]
	path = src/github.com/vaughan0/go-ini
	url = https://github.com/vaughan0/go-ini
[submodule "src/github.com/martian-lang/docopt.go"]
	path = src/github.com/martian-lang/docopt.go
	url = https://github.com/martian-lang/docopt.go.git
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = https://github.com/lib/pq
[submodule "src/github.com/joker/jade"]
	path = src/github.com/joker/jade
	url = git@github.com:Joker/jade.git
[submodule "src/github.com/10XDev/martian-public"]
	path = src/github.com/10XDev/martian-public
	url = git@github.com:10XDev/martian-public.git
