//- 
    Copyright (c) 2014 10X Genomics, Inc. All rights reserved.
    
    Main UI for martian seqruns.

doctype html
html(ng-app="app")
    head
        title [[.InstanceName]] / Sequencer Runs
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/marsoc.css")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/js/angular.min.js")
        script(src="/js/ui-bootstrap-tpls-0.10.0.min.js")
        script(src="/js/lodash.min.js")
        script(src="/js/moment.min.js")
    body(ng-controller="MartianRunCtrl")
        header.navbar.navbar-fixed-top
            .navbar-header
                .navbar-brand
                    .logo_container
                        img.logo(src="/images/10X_Logo_Reversed.png")
                    .navbar-upper(ng-class="{admin: admin}") [[.InstanceName]] &middot; Sequencer Runs
                        span(ng-if="admin")
                            | &nbsp;(
                            a.admin-exit(href="/") exit admin mode
                            | )
                        span.navbar-right
                            | Martian&nbsp;
                            a.sampleid(href="https://github.com/10XDev/martian/releases") [[.MarsocVersion]]
                            | &nbsp;Pipelines&nbsp;
                            a.sampleid(href="https://10xtech.atlassian.net/wiki/display/COMPBIO/Pipelines+Version+Tracking") [[.PipelinesVersion]]
                    .navbar-lower
                        a(ng-if="admin" href="/admin") HOME
                        a(ng-if="!admin" href="/") HOME
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(ng-if="admin" href="/admin/pipestances") PIPESTANCES
                        a(ng-if="!admin" href="/pipestances") PIPESTANCES
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(ng-if="admin" href="/admin/metasamples") METASAMPLES
                        a(ng-if="!admin" href="/metasamples") METASAMPLES
                        | &nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
                        a(href="/razor") RAZOR
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://compute2.fuzzplex.com:9090") MRV
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://lena.fuzzplex.com") LENA
                        span.navbar-right
                            | [[.PipestanceCount]] Pipestances In-Flight
                            | &nbsp;&middot;&nbsp;&nbsp;
                            button.btn.btn-default.aibutton.btn-checkbox(ng-if="admin" ng-model="autoinvoke.state" ng-click="setAutoInvoke()" ng-class="getAutoInvokeClass()") AI is {{autoinvoke.state?"ON":"OFF"}}
                            span(ng-if="!admin") AI is {{autoinvoke.state?"ON":"OFF"}}
        #runs.detail
            table.table.table-striped#run-table
                thead
                    tr
                        th.col-date(style="padding-left: 20px") Date
                        th Sequencer
                        th.col-flowcell Flowcell ID
                        th.align-center Sequencing
                        th.align-center Demultiplex 
                        th.align-center Analysis
                tbody
                    tr(ng-repeat="run in runs" ng-click="selectRun(run)" ng-class="{tablehover:run.selected}")
                        td.col-date(ng-if="run.fdate" style="padding-left: 20px") {{run.fdate | momentFormat:'MMM D'}}
                        td.col-flowcell {{run.seqcerName}}
                        td.col-flowcell 
                            span(style="font-weight: bold") {{run.fcid | flowcellFront}}
                            span(style="color:#aaa") {{run.fcid | flowcellBack}}
                        td.align-center
                            .minibox(ng-class="run.state") {{run.state}}
                        td.align-center
                            .minibox(ng-if="run.preprocess" ng-class="run.preprocess") {{run.preprocess}}
                        td.align-center
                            .minibox(ng-if="run.analysis" ng-class="run.analysis" style="width:75px") {{run.analysis}}

        #one-run(ng-if="selrun")
            table.table
                thead
                    tr
                        th(colspan="2") Run Details
                tbody
                    tr
                        td Flowcell
                        td.param(style="font-weight:bold") {{selrun.fcid}}
                    tr
                        td Cycles
                        td.param {{selrun | cycleInfo}}
                    tr
                        td Actual Time
                        td {{selrun | runDuration}}
                    tr
                        td Predicted
                        td {{selrun | runPrediction}}
                    tr
                        td Age
                        td {{selrun.completeTime | momentTimeAgo}}
                    tr
                        td Path
                        td.param {{selrun.path}}

            table.table
                thead
                    tr
                        th Preprocess
                tbody
                    tr
                        td(ng-if="selrun.preprocess")
                            button.btn.btn-default(ng-if="selrun.preprocess == 'complete' && admin && showbutton" ng-click="archivePreprocess()" style="margin-bottom: 15px") Archive
                            button.btn.btn-default(ng-if="selrun.preprocess == 'failed' && admin && showbutton" ng-click="wipePreprocess()" style="margin-bottom: 15px") Wipe
                            button.btn.btn-default(ng-if="selrun.preprocess == 'running' && admin && showbutton" ng-click="killPreprocess()" style="margin-bottom: 15px") Kill
                            div(style="margin-top: 5px; margin-bottom: 15px")
                                .minibox(ng-class="selrun.preprocess" style="text-align:center; width: 85px") 
                                    a(href="{{urlprefix}}/pipestance/{{selrun.fcid}}/BCL_PROCESSOR_PD/{{selrun.fcid}}") {{selrun.fcid}}<br>{{selrun.preprocess}}

                        td(ng-if="selrun.state == 'complete' && !selrun.preprocess && admin && showbutton") 
                            pre {{selrun.callsrc}}
                            button.btn.btn-default(ng-click="invokePreprocess()") Invoke

            table.table(ng-if="selrun.preprocess=='complete'")
                thead
                    tr
                        th Samples
                tbody
                    tr
                        td
                            div(ng-if="!samples") Loading from Lena...
                            div(ng-if="samples")
                                button.btn.btn-default(ng-if="!samples[sampi].psstate && admin && showbutton" ng-click="invokeAnalysis()" style="margin-bottom: 15px") Invoke All
                                button.btn.btn-default(ng-if="allDone() && admin && showbutton" ng-click="archiveSamples()" style="margin-bottom: 15px") Archive All
                                button.btn.btn-default(ng-if="someFail() && admin && showbutton" ng-click="unfailSamples()" style="margin-bottom: 15px") Unfail All
                                button.btn.btn-default(ng-if="someFail() && admin && showbutton" ng-click="wipeSamples()" style="margin-bottom: 15px") Wipe All
                                button.btn.btn-default(ng-if="someRunning() && admin && showbutton" ng-click="killSamples()" style="margin-bottom: 15px") Kill All
                                div(style="margin-top: 5px")
                                    .minibox(ng-repeat="sample in samples" ng-class="sample.psstate" ng-mouseover="sampi=$index"
                                        style="text-align:center; margin-right:2px; margin-bottom: 2px; width: 85px; ") 
                                        a(href="{{urlprefix}}/pipestance/{{sample.pscontainer}}/{{sample.pname}}/{{sample.id}}" style="" ng-mouseover="$parent.sampi=$index") {{sample.id}}<br>{{sample.psstate}}                                
                                div(style="margin-top: 15px; font-weight: bold") {{samples[sampi].description}} by {{samples[sampi].user.username}}
                                pre(style="margin-top: 15px") {{samples[sampi].callsrc}}
    script        
        | admin = [[.Admin]]
    script(src="/marsoc.js")
