//- 
    Copyright (c) 2014 10X Genomics, Inc. All rights reserved.
    
    Main UI for martian seqruns.

doctype html
html(ng-app="app")
    head
        title [[.InstanceName]] / Metasamples
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/marsoc.css")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/js/angular.min.js")
        script(src="/js/ui-bootstrap-tpls-0.10.0.min.js")
        script(src="/js/lodash.min.js")
        script(src="/js/moment.min.js")
    body(ng-controller="MartianRunCtrl")
        header.navbar.navbar-fixed-top
            .navbar-header
                .navbar-brand
                    .logo_container
                        img.logo(src="/images/10X_Logo_Reversed.png")
                    .navbar-upper(ng-class="{admin: admin}") [[.InstanceName]] &middot; Metasamples
                        span(ng-if="admin")
                            | &nbsp;(
                            a.admin-exit(href="/") exit admin mode
                            | )
                        span.navbar-right
                            | Martian&nbsp;
                            a.sampleid(href="https://github.com/10XDev/martian/releases") [[.MarsocVersion]]
                            | &nbsp;Pipelines&nbsp;
                            a.sampleid(href="https://10xtech.atlassian.net/wiki/display/COMPBIO/Pipelines+Version+Tracking") [[.PipelinesVersion]]
                    .navbar-lower
                        a(ng-if="admin" href="/admin") HOME
                        a(ng-if="!admin" href="/") HOME
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(ng-if="admin" href="/admin/metasamples") METASAMPLES
                        a(ng-if="!admin" href="/metasamples") METASAMPLES
                        | &nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
                        a(ng-if="admin" href="/admin/pipestances") PIPESTANCES
                        a(ng-if="!admin" href="/pipestances") PIPESTANCES
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="/razor") RAZOR
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://compute2.fuzzplex.com:9090") MRV
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://lena.fuzzplex.com") LENA
                        span.navbar-right
                            | [[.PipestanceCount]] Pipestances In-Flight
                            | &nbsp;&middot;&nbsp;&nbsp;
                            button.btn.btn-default.aibutton.btn-checkbox(ng-if="admin" ng-model="autoinvoke.state" ng-click="setAutoInvoke()" ng-class="getAutoInvokeClass()") AI is {{autoinvoke.state?"ON":"OFF"}}
                            span(ng-if="!admin") AI is {{autoinvoke.state?"ON":"OFF"}}      

        #runs.detail
            table.table.table-striped#run-table
                thead
                    tr
                        th Metasample 
                        th Analysis
                tbody
                    tr(ng-repeat="sample in samples" ng-click="selectSample(sample)" ng-class="{tablehover:sample.selected}")
                        td.col-flowcell {{sample.id}}
                        td.align-center
                            .minibox(ng-if="sample.psstate" ng-class="sample.psstate" style="width:75px") {{sample.psstate}}

        #one-run(ng-if="selsample" style="left: 225px")
            table.table
                thead
                    tr
                        th Details
                tbody
                    tr
                        td
                            .minibox(ng-repeat="sd in selsample.sample_defs" ng-class="sd.sequencing_run.psstate" style="margin-right: 2px")
                                | {{sd.sequencing_run.name}}
                            br
                            br
                            button.btn.btn-default(ng-if="admin && showbutton && selsample.ready_to_invoke && !selsample.psstate" ng-click="invokeAnalysis()" style="margin-bottom: 15px") Invoke 
                            button.btn.btn-default(ng-if="selsample.psstate == 'complete' && admin && showbutton" ng-click="archiveSample()" style="margin-bottom: 15px") Archive
                            button.btn.btn-default(ng-if="selsample.psstate == 'failed' && admin && showbutton" ng-click="unfailSample()" style="margin-bottom: 15px") Unfail
                            button.btn.btn-default(ng-if="selsample.psstate == 'failed' && admin && showbutton" ng-click="wipeSample()" style="margin-bottom: 15px") Wipe
                            button.btn.btn-default(ng-if="selsample.psstate == 'running' && admin && showbutton" ng-click="killSample()" style="margin-bottom: 15px") Kill
                            div(style="margin-top: 5px")
                                .minibox(ng-class="selsample.psstate" style="text-align:center; margin-right:2px; margin-bottom: 2px; width: 85px; ") 
                                    a(href="{{urlprefix}}/pipestance/{{selsample.pscontainer}}/{{selsample.pname}}/{{selsample.id}}" style="" ng-mouseover="$parent.sampi=$index") {{selsample.id}}<br>{{selsample.psstate}}
                            div(style="margin-top: 15px; font-weight: bold") {{selsample.description}} by {{selsample.user.username}}
                            pre(style="margin-top: 15px") {{selsample.callsrc}}
    script        
        | admin = [[.Admin]]
    script(src="/metasamples.js")
