//-
    Copyright (c) 2015 10X Genomics, Inc. All rights reserved.

    Pipestances UI.

doctype html
html(ng-app="app")
    head
        title [[.InstanceName]] / Metasamples
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/marsoc.css")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/js/angular.min.js")
        script(src="/js/ui-bootstrap-tpls-0.10.0.min.js")
        script(src="/js/lodash.min.js")
        script(src="/js/moment.min.js")
    body(ng-controller="PipestancesCtrl")
        header.navbar.navbar-fixed-top
            .navbar-header
                .navbar-brand
                    .logo_container
                        img.logo(src="/images/10X_Logo_Reversed.png")
                    .navbar-upper(ng-class="{admin: admin}") [[.InstanceName]] &middot; Pipestances
                        span(ng-if="admin")
                            | &nbsp;(
                            a.admin-exit(href="/") exit admin mode
                            | )
                        span.navbar-right
                            | Martian&nbsp;
                            a.sampleid(href="https://github.com/10XDev/martian/releases") [[.MarsocVersion]]
                            | &nbsp;Pipelines&nbsp;
                            a.sampleid(href="https://10xtech.atlassian.net/wiki/display/COMPBIO/Pipelines+Version+Tracking") [[.PipelinesVersion]]
                    .navbar-lower
                        a(ng-if="admin" href="/admin") HOME
                        a(ng-if="!admin" href="/") HOME
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(ng-if="admin" href="/admin/metasamples") METASAMPLES
                        a(ng-if="!admin" href="/metasamples") METASAMPLES
                        | &nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
                        a(ng-if="admin" href="/admin/pipestances") PIPESTANCES
                        a(ng-if="!admin" href="/pipestances") PIPESTANCES
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="/razor") RAZOR
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://compute2.fuzzplex.com:9090") MRV
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://lena.fuzzplex.com") LENA
                        span.navbar-right
                            | [[.PipestanceCount]] Pipestances In-Flight
                            | &nbsp;&middot;&nbsp;&nbsp;
                            button.btn.btn-default.aibutton.btn-checkbox(ng-if="admin" ng-model="autoinvoke.state" ng-click="setAutoInvoke()" ng-class="getAutoInvokeClass()") AI is {{autoinvoke.state?"ON":"OFF"}}
                            span(ng-if="!admin") AI is {{autoinvoke.state?"ON":"OFF"}}
        #ps
            #ps_filter
                table
                    tr
                        td
                            div.input-group
                                label Flowcell
                                input.form-control(type="text" ng-model="fcid" typeahead="fcid for fcid in fcids | filter:$viewValue | limitTo: 8")
                        td
                            div.input-group
                                label Pipeline
                                input.form-control(type="text" ng-model="pipeline" typeahead="pipeline for pipeline in pipelines | filter:$viewValue | limitTo: 8")
                        td
                            div.input-group
                                label Sample ID
                                input.form-control(type="text" ng-model="psid" typeahead="psid for psid in psids | filter:$viewValue | limitTo: 8")
                        td
                            div.dropdown#ps_filter_state
                                button.btn.btn-default.dropdown-toggle
                                    span(ng-if="state") {{ capitalize(state) }}
                                    span(ng-if="!state") Any
                                    | &nbsp;
                                    span.caret
                                ul.dropdown-menu(role="menu")
                                    li
                                        a(ng-click="state=null") Any
                                    li
                                        a(ng-click="state='running'") Running
                                    li
                                        a(ng-click="state='complete'") Complete
                                    li
                                        a(ng-click="state='failed'") Failed
                                    li
                                        a(ng-click="state='ready'") Ready
                                    li
                                        a(ng-click="state='copying'") Copying
                                    li
                                        a(ng-click="state='waiting'") Waiting
            table.table#ps_table(style="margin-top: 50px")
                thead
                    tr
                        th.col-date(style="padding-left: 20px") Flowcell
                        th Pipeline
                        th Sample ID
                        th State
                        th(ng-if="admin") Actions
                tbody
                    tr(ng-repeat="p in pipestances" ng-if="filterPipestance(p)")
                        td.col-date(style="padding-left: 20px") {{p.fcid}}
                        td {{p.pipeline}}
                        td
                            a(href="/pipestance/{{p.fcid}}/{{p.pipeline}}/{{p.psid}}") {{p.psid}}
                        td
                            span.minibox(ng-class="p.state") {{p.state}}
                        td(ng-if="admin")
                            button.btn.btn-default(ng-if="p.state == 'ready' && admin && showbutton" ng-click="invokePipestance(p)") Invoke
                            button.btn.btn-default(ng-if="p.state == 'complete' && admin && showbutton" ng-click="archivePipestance(p)") Archive
                            button.btn.btn-default(ng-if="p.state == 'failed' && admin && showbutton" ng-click="unfailPipestance(p)") Unfail
                            button.btn.btn-default(ng-if="p.state == 'failed' && admin && showbutton" ng-click="wipePipestance(p)") Wipe
                            button.btn.btn-default(ng-if="p.state == 'running' && admin && showbutton" ng-click="killPipestance(p)") Kill
    script
        | admin = [[.Admin]]
    script(src="/pipestances.js")