#details
    .row
        .col-xs-12.main-panel-button-wrapper
            h2
                | Details for test id&nbsp;
                span#detailid
           .btn-group(role="group")
               button.btn.btn-default.btn-sm(type="button" onclick="changetablemode('project')") Project
               button.btn.btn-default.btn-sm(type="button" onclick="changetablemode('everything')") Everything
    .table-container
        .flex-table#details1
