.left-nav.full-height.col-xs-2
  ul.nav.nav-pills.nav-stacked
    li.logo Ligo
    li.dropdown.project-dropdown
      a.dropdown-toggle(data-toggle="dropdown" href="#")
        span#project_cur
        span.caret
      ul#projects_dropdown.dropdown-menu
    li.js-nav-table
      a(onclick="pickwindow('table')") Table
    li.js-nav-details.disabled
      a(onclick="pickwindow('details')") Details
    li.js-nav-compare.disabled
      a(onclick="pickwindow('compare')") Compare
    li.js-nav-vandv
      a(onclick="pickwindow('vandv')") Compare testgroups
    li.js-nav-plot
      a(onclick="pickwindow('plot')") Plot
    li.js-nav-playground
      a(onclick="pickwindow('playground')") Playground
    li.js-nav-help
      a(onclick="pickwindow('help')") Help
    hr
    li
      a#myurl(data-target="#permalink-modal", data-toggle="modal", href="#") Generate Permalink
    li
      a#csvlink(href="#", target="_blank") Download data as CSV
