div#help
    div.panel.panel-primary
        div.panel-heading
            h2.panel-title Halp!
        div.panel-body
            p
                | See the ligo instruction manual at 
                a(href="https://10xtech.atlassian.net/wiki/display/SW/LIGO+Instruction+manual") Confluence.
