#help.full-height
    .flex-center
        div.text-center
            video(src="https://media.giphy.com/media/phJ6eMRFYI6CQ/giphy.mp4", autoplay="true", loop="trye")
            br
            h3
                | See the ligo instruction manual at 
                a(href="https://10xtech.atlassian.net/wiki/display/SW/LIGO+Instruction+manual", target="_blank") Confluence.
