#vandv
    .row
        .col-xs-12.main-panel-button-wrapper
            h3
                | Comparing testgroup &nbsp;
                span#oldtestgroup_header
                | to&nbsp;
                span#newtestgroup_header
    .table-container
        .flex-table#table2
