doctype html

html
	head

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" href="/assets/stylesheets/10x/ligo.css")

	body
		include "_header.jade"

		.container-fluid
			.row
				.col-xs-12
					form
						.form-group
							label(for="where") Where (empty or a SQL where clause)
							input#where.form-control(name="where" placeholder="Where (empty or a SQL where clause)")

		.container-fluid
			div.panel.panel-danger#errorbox.hidden
				div.panel-heading
					h2.panel-title Error
				div.panel-body
					p#errortext

			div#details
				div.panel.panel-primary
					div.panel-heading
						h2.panel-title 
							|Details for test id&nbsp;
							span#detailid
					div.panel-body
						div(class="btn-group" role="group")
							button(type="button" class="btn btn-default" class="btn-sm" onclick="changetablemode('project')") Project
							button(type="button" class="btn btn-default" class="btn-sm" onclick="changetablemode('everything')") Everything
						div#details1(style="width:100%")
			#playground
				.panel.panel-primary
					.panel-heading
						h2.panel-title Playground
					.panel-body
						 .alert.alert-danger
							| The 'playground' is for exploratory and temporary work on
							| project definitions. Nothing you do here is saved to disk.
							| When you are done, check in any changes you want to ligo via git.
						span Project definition (JSON)
						textarea#project_def.form-control
						br
						span Metric Targets (CSV)
						textarea#targets_csv.form-control(wrap="soft")
                        br
                        button.btn.btn-primary.btn-lg.btn-block(type="button" onclick="updateprojecttextarea()") Update
                        hr
                        h2#new-metrics Get your projects out of the playground!
                        p
                            a(href="https://github.com/10XDev/martian/new/master/src/martian/ligo/web/metrics", target="_blank") Click here to visit git and check in your project and targets files.
                        p
                            | An easy way to commit new metrics into this repo
                            | to add a file on a branch using the Github page.
                            | Copy the above json you created and
                            | Github and paste it into the text area.  Enter
                            | a commit message describing the metric and click
                            | the radio button to "Create a new branch and
                            | start a pull request". Submit the file, then
                            | contact someone with Ligo repo access to merge
                            | your pull request.
                        p
                            | You can also edit existing files using the
                            | Github interface by click the pencil when
                            | viewing a file on Github and then creating
                            | a pull request with your changes.
				
			div#table
				div.panel.panel-primary
					div.panel-heading
                        .row
                            .col-xs-2
                                h2.panel-title(style="line-height:30px") Table view
                            .col-xs-10
                                form.form-inline
                                    .form-group.btn-group(role="group")
                                        button(type="button" class="btn btn-default btn-sm" onclick="changetablemode('basic')") Basic
                                        button(type="button" class="btn btn-default btn-sm" onclick="changetablemode('metrics')") Metrics
                                    .checkbox
                                        | &nbsp;&nbsp;
                                        label
                                            input#latestonly(type="checkbox") &nbsp;Latest official version only

                                    .pagination-group.pull-right(class="btn-group" role="group")
                                        button(type="button" class="btn btn-default btn-sm" onclick="changepage(-1)")
                                            span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
                                        button(type="button" class="btn btn-default btn-sm")
                                            span#page
                                        button(type="button" class="btn btn-default btn-sm" onclick="changepage(1)")
                                            span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
					div.panel-body#table1

			div#compare
				div.panel.panel-primary
					div.panel-heading
						h2.panel-title 
							|Comparing test id&nbsp;
							span#compareid1
							| &nbsp;versus&nbsp;
							span#compareid2
					div.panel-body
						div(class="btn-group" role="group")
							button(type="button" class="btn btn-default" onclick="changecomparemode('project')") Project
							button(type="button" class="btn btn-default" onclick="changecomparemode('all')") All
						div#compare1(style="width:1200px; height:500px")
			div#plot
				div.panel.panel-primary
					div.panel-heading
						h2.panel-title Plot view
					div.panel-body
						form
							table
								tr
									td.plot-table-td Sort By
									td.plot-table-td
										input#sortby.input-field(name="x" value="finishdate")
								tr
									td.plot-table-td X
									td.plot-table-td
										input#chartx.input-field(name="x" value="SHA")
								tr
									td.plot-table-td Y
									td.plot-table-td
										input#charty.input-field(name="y")
								tr
									td.plot-table-td
									td.plot-table-td
										div.btn-group
											button(class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")  
												span#chart_mode Chart style
												span(class="caret")
											ul.dropdown-menu
												li(onclick="update_chart_style('line')") line
												li(onclick="update_chart_style('scatter')") scatter

							br
							button(type="button" class="btn btn-default" onclick="update()") Go
						div(style="float:right;")
							h2 Metrics I know about
							div#list1(style="width:600px;height:500px")
						div#plot1(style="width:800px;height:500px")
			div#help
				div.panel.panel-primary
					div.panel-heading
						h2.panel-title Halp!
					div.panel-body
						p
							| See the ligo instruction manual at 
							a(href="https://10xtech.atlassian.net/wiki/display/SW/LIGO+Instruction+manual") Confluence.
				

		script(src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		script(src="https://www.gstatic.com/charts/loader.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.17/autosize.min.js")
		script(src="/assets/scripts/10x/dynchart.js")
