//- 
    Copyright (c) 2014 10X Genomics, Inc. All rights reserved.
    
    Main UI for Houston

doctype html
html(ng-app="app")
    head
        title [[.InstanceName]] / Sequencer Runs
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/marsoc.css")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/js/angular.min.js")
        script(src="/js/ui-bootstrap-tpls-0.10.0.min.js")
        script(src="/js/lodash.min.js")
        script(src="/js/moment.min.js")
    body(ng-controller="MartianRunCtrl")
        header.navbar.navbar-fixed-top
            .navbar-header
                .navbar-brand
                    .logo_container
                        img.logo(src="/images/10X_Logo_Reversed.png")
                    .navbar-upper [[.InstanceName]]
                    .navbar-lower
                        a(href="/") HOME
                        | &nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
                        a(href="http://marsoc.fuzzplex.com/razor") RAZOR
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://marsoc.fuzzplex.com") MARSOC
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://sere.fuzzplex.com") SERE
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://compute2.fuzzplex.com:9090") MRV
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://lena.fuzzplex.com") LENA
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="https://10xtech.atlassian.net/issues/?filter=11200") CUSTOMER BUGS
        #runs.detail
            table.table.table-striped#run-table
                thead
                    tr(style="cursor: auto")
                        th Date                        
                        th Customer
                        th(colspan="2") Content
                        th Path
                tbody
                    tr(ng-repeat="ps in pstances" style="cursor: auto")
                        td {{ps.display_date}}
                        td.col-fixed {{ps.domain}}
                        td(ng-if="ps.kind=='pipestance'")
                            span.minibox(ng-class="ps.label") {{ps.label}}
                        td.col-fixed(ng-if="ps.kind=='pipestance'")                            
                            a(href="/pipestance/{{ps.domain}}/{{ps.date}}/{{ps.psid}}" style="color: #007dc3") {{ps.psid}}
                        td(colspan="2" ng-if="ps.kind=='files'") {{ps.label}}
                        td(colspan="2" ng-if="ps.kind=='smallfile'")
                            a(href="/api/get-file/{{ps.domain}}/{{ps.date}}/{{ps.psid}}/{{ps.label}}" style="color: #007dc3") {{ps.label}}
                        td.col-fixed {{ps.path}}
        
    script(src="/marsoc.js")
