//- 
    Copyright (c) 2014 10X Genomics, Inc. All rights reserved.
    
    Main UI for Houston

doctype html
html(ng-app="app")
    head
        title [[.InstanceName]] / Sequencer Runs
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/marsoc.css")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/js/angular.min.js")
        script(src="/js/ui-bootstrap-tpls-0.10.0.min.js")
        script(src="/js/lodash.min.js")
        script(src="/js/moment.min.js")
    body(ng-controller="MartianRunCtrl")
        header.navbar.navbar-fixed-top
            .navbar-header
                .navbar-brand
                    .logo_container
                        img.logo(src="/images/10X_Logo_Reversed.png")
                    .navbar-upper [[.InstanceName]]
                    .navbar-lower
                        a(href="/") HOME
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="/metrics") METRICS
                        | &nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
                        a(href="http://marsoc.fuzzplex.com/razor") RAZOR
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://marsoc.fuzzplex.com") MARSOC
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://sere.fuzzplex.com") SERE
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://compute2.fuzzplex.com:9090") MRV
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://lena.fuzzplex.com") LENA
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="https://10xtech.atlassian.net/issues/?filter=11200") CUSTOMER BUGS
        #runs.detail
            table.table.table-striped#run-table
                thead
                    tr(style="cursor: auto")
                        th Date                        
                        th Site
                        th User
                        th Content
                        th Path
                tbody
                    tr(ng-repeat="sub in subs" style="cursor: auto")
                        td {{sub.display_date}}
                        td.col-fixed {{sub.display_domain}}
                        td.col-fixed {{sub.display_user}}
                        td(ng-if="sub.kind=='pipestance'")
                            span.minibox(ng-class="sub.state") 
                                a(href="/pipestance/{{sub.source}}/{{sub.date}}/{{sub.name}}") 
                                    span(ng-if="sub.state=='complete'" style="color: #333") {{sub.name}}
                                    span(ng-if="sub.state!='complete'" style="color: #eee") {{sub.name}}
                        td(ng-if="sub.kind=='file'") {{sub.fname}}
                        td(ng-if="sub.kind=='smallfile'")
                            a(href="/file/{{sub.source}}/{{sub.date}}/{{sub.name}}/{{sub.fname}}" style="color: #007dc3") {{sub.fname}}
                        td.col-fixed {{sub.path}}
        
    script(src="/houston.js")
