//- 
    Copyright (c) 2014 10X Genomics, Inc. All rights reserved.
    
    Main UI for martian seqruns.

doctype html
html(ng-app="app" ng-cloak)
    head
        title [[.InstanceName]] / Razor
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/marsoc.css")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/js/angular.min.js")
        script(src="/js/ui-bootstrap-tpls-0.10.0.min.js")
        script(src="/js/lodash.min.js")
        script(src="/js/moment.min.js")
    body(ng-controller="QWebCtrl")
        header.navbar.navbar-fixed-top
            .navbar-header
                .navbar-brand
                    .logo_container
                        img.logo(src="/images/10X_Logo_Reversed.png")
                    .navbar-upper(ng-class="{admin: admin}") Razor Cluster Status
                        span(ng-if="admin")
                            | &nbsp;(
                            a.admin-exit(href="/") exit admin mode
                            | )
                    .navbar-lower
                        a(ng-if="admin" href="/admin") HOME
                        a(ng-if="!admin" href="/") HOME
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(ng-if="admin" href="/admin/metasamples") METASAMPLES
                        a(ng-if="!admin" href="/metasamples") METASAMPLES
                        | &nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
                        a(ng-if="admin" href="/admin/pipestances") PIPESTANCES
                        a(ng-if="!admin" href="/pipestances") PIPESTANCES
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="/razor") RAZOR
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://compute2.fuzzplex.com:9090") MRV
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="http://lena.fuzzplex.com") LENA
        #qstat
            #qstat_summary
                table.hero
                    tr
                        td 
                            span.hero {{running_count}}
                            br 
                            | Running Jobs
                        td 
                            span.hero {{pending_count}}
                            br
                            | Pending Jobs
                        td 
                            span.hero {{slots_used}} / {{slots_total}}
                            br
                            | Active Cores
                        td 
                            span.hero {{error_count}}
                            br
                            | Errored Jobs
                table.lwrapper
                    tr
                        td(ng-repeat="t in ['JB_owner','psid','stage','JB_job_number']")
                            table.lboard
                                tr(ng-repeat="ts in lboards[t]")
                                    td {{ts.item}} 
                                    td.right {{ts.count}}
            #run-table-wrapper
                table.table
                    thead
                        tr
                            th 
                            th Owner
                            th State
                            th Pipestance 
                            th Chunk
                            th.right C
                            th Job #
                            th Node
                            th Age

                    tbody
                        tr(ng-repeat="job in jobs")
                            td {{$index+1}}
                            td {{job.JB_owner}}
                            td 
                                .minibox(ng-class="job.State") {{job.State}} 
                                |  {{job.StateCode}}
                            td 
                                b {{job.psid}}
                                |  / {{job.stage}}
                            td {{job.chunk}}
                            td.right {{job.Slots}}
                            td {{job.JB_job_number}}
                            td {{job.node}}
                            td {{job.ago}}

    script(src="/sge.js")
