doctype html

html
	head
		script(src="https://www.gstatic.com/charts/loader.js")
		script(src="/assets/scripts/10x/dynchart.js")
		script(src="/assets/scripts/external/jquery-1.11.1.min.js")
	body
		h2 Please select data to find
		form
			span Old
			input#idold(name="id1" style="width:450px")
			br
			span New
			input#idnew(name="id2" style="width:450px")
			br
			div(onclick="compare_update()" style="border: solid black 1px; width:30px;" ) Go
		div#table1(style="width:1000px;height:500px")
		h2 Yep
