doctype html

html
	head
		script(src="https://www.gstatic.com/charts/loader.js")
		script(src="/assets/scripts/10x/dynchart.js")
		script(src="/assets/scripts/external/jquery-1.11.1.min.js")
	body
		ul
			li
				a(href="list.jade") list
			li
				a(href="compare.jade") compare
			li
				a(href="plot.jade") plot
